#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        enter_dance: enter_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "ENTER_DANCE";
            #binding-cells = <0>;
            bindings = <&kp ENTER>, <&kp SLASH>;

            tapping-term-ms = <200>;
        };

        space_tab: space_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_TAB";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&kp TAB>;
        };

        lower_taptoggle: lower_taptoggle {
            compatible = "zmk,behavior-tap-dance";
            label = "LOWER_TAPTOGGLE";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 2>;
        };

        bluetooth_tap: bluetooth_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "BLUETOOTH_TAP";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 0>,
                <&bt BT_SEL 1>,
                <&bt BT_SEL 2>,
                <&bt BT_SEL 3>,
                <&bt BT_SEL 4>;

            tapping-term-ms = <300>;
        };

        bootloader_tap: bootloader_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "BOOTLOADER_TAP";
            #binding-cells = <0>;
            bindings = <&none>, <&bootloader>;
        };

        auto_shift: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <150>;
        };

        semi_colon_app_tap: semi_colon_app_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "SEMI_COLON_APP_TAP";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp APOSTROPHE>;

            tapping-term-ms = <200>;
        };

        control_gui_tap_dance: control_gui_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CONTROL_GUI_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_CONTROL>, <&kp LEFT_GUI>;
        };

        auto_shift_short: auto_shift_short {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT_SHORT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            flavor = "tap-preferred";
        };

        bt_clear_dance: bt_clear_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "BT_CLEAR_DANCE";
            #binding-cells = <0>;
            bindings = <&none>, <&bt BT_CLR>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    macros {
        bt_profile_0: bt_profile_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_SEL 0>;
            label = "BT_PROFILE_0";
        };

        bt_profile_1: bt_profile_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 0 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_SEL 1>;
            label = "BT_PROFILE_1";
        };

        bt_profile_2: bt_profile_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 3 &bt BT_DISC 4 &bt BT_SEL 2>;
            label = "BT_PROFILE_2";
        };

        bt_profile_3: bt_profile_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 4 &bt BT_SEL 3>;
            label = "BT_PROFILE_3";
        };

        bt_profile_4: bt_profile_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_SEL 4>;
            label = "BT_PROFILE_4";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q              &kp W                &kp E                   &kp R            &kp T            &kp Y       &kp U             &kp I         &kp O    &kp P
&hrm LEFT_SHIFT A  &hrm LEFT_CONTROL S  &hrm LEFT_ALT D         &hrm LEFT_GUI F  &kp G            &kp H       &kp J             &kp K         &kp L    &semi_colon_app_tap
&hrm LEFT_SHIFT Z  &hrm LEFT_CONTROL X  &hrm LEFT_ALT C         &hrm LEFT_GUI V  &kp B            &kp N       &kp M             &kp COMMA     &kp DOT  &enter_dance
                                        &control_gui_tap_dance  &lt 1 LEFT_GUI   &kp BACKSPACE    &space_tab  &lower_taptoggle  &kp LEFT_ALT
            >;
        };

        raise_layer {
            bindings = <
&auto_shift TILDE ESCAPE  &kp K_MUTE        &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &bluetooth_tap     &bt_clear_dance  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS          &kp EQUAL
&kp NUMBER_1              &kp NUMBER_2      &kp NUMBER_3       &kp NUMBER_4     &kp N5             &kp NUMBER_6     &kp N7                &kp N8                 &kp N9             &kp N0
&kp LEFT_SHIFT            &kp LEFT_CONTROL  &kp LEFT_ALT       &kp LEFT_GUI     &bootloader_tap    &kp LEFT_BRACE   &kp RIGHT_BRACE       &kp LEFT_BRACKET       &kp RIGHT_BRACKET  &kp BACKSLASH
                                            &trans             &trans           &kp BACKSPACE      &kp TAB          &none                 &trans
            >;
        };

        lower_layer {
            bindings = <
&trans  &trans    &kp UP_ARROW  &trans     &trans        &bootloader_tap  &kp N7        &kp N8        &kp N9        &trans
&trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans        &trans           &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&trans  &trans    &trans        &trans     &trans        &trans           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
                  &trans        &to 0      &kp DELETE    &kp SPACE        &to 0         &kp N0
            >;
        };
    };
};
